<%= form_with(model: menu) do |form| %>
  <% if menu.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
        <% menu.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :currently_displayed, style: "display: block" %>
    <%= form.check_box :currently_displayed %>
  </div>

  <div data-controller="nested-form">
    <template data-nested-form-target="template">
      <%= form.fields_for :items, Item.new, child_index: 'NEW_RECORD' do |item_form| %>
        <%= render 'item_fields', f: item_form %>
      <% end %>
    </template>

    <div data-nested-form-target="fields">
      <%= form.fields_for :items do |item_form| %>
        <%= render 'item_fields', f: item_form %>
      <% end %>
    </div>

    <%= button_tag type: 'button',
                   data: { action: "click->nested-form#add" },
                   class: 'btn btn-primary' do %>
      Add Menu Item
    <% end %>
  </div>

  <div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
