<section class="menu-section" aria-labelledby="header-disclaimer-text">
  <h2 id="header-disclaimer-text" class="menu-category-title" tabindex="0">
    <div class="text-center">
      <div dir="rtl" class="font-bold">מינימום הזמנה 100 ש״ח.</div>
      <br>
      <br>
      <div dir="rtl" class="font-bold">
        <a href="https://wa.me/+972524000843" 
           class="whatsapp-order-button" 
           target="_blank">
          להזמנות בוואטסאפ - לחצו כאן
        </a>
      </div>
      <br>
      <br>
      <div dir="rtl" class="text-sm text-gray-600">
        אזהרת אלרגנים: המטבח שלנו מטפל במוצרים המכילים אגוזים, גלוטן, חלב, ביצים ורכיבים אלרגניים נוספים. איננו יכולים להבטיח שהמנות שלנו נקיות לחלוטין מאלרגנים, גם אם אינם מסומנים. אנא יידעו אותנו לגבי כל אלרגיה או רגישות למזון בעת ההזמנה.
      </div>    </div>
  </h2>
</section>

<% @menu_items.group_by(&:category_name).each do |category, items| %>
  <section class="menu-section" data-controller="collapse">
    <button 
      data-action="collapse#toggle"
      class="menu-section__collapse-button w-full flex items-center justify-between py-2 text-center"
      aria-expanded="false"
      aria-controls="category-content-<%= category.parameterize %>"
    >
      <h2 id="category-<%= category.parameterize %>" class="menu-category-title w-full" tabindex="0">
        <%= category %>
      </h2>
      <svg class="menu-section__collapse-icon w-4 h-4 transition-transform duration-200 rotate-180" data-collapse-target="icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </button>
    
    <ul id="category-content-<%= category.parameterize %>" 
        class="menu-section__collapsible-list"
        data-collapse-target="content">
      <% items.each_with_index do |item, index| %>
        <%= render "menu_item", item: item, show_divider: index < items.size - 1 %>
      <% end %>
    </ul>
  </section>
<% end %>

<%# Allergies Disclaimer %>
<section class="menu-section" aria-labelledby="allergies-disclaimer">
  <h2 id="allergies-disclaimer" class="menu-category-title" tabindex="0">
    <div class="text-center">
      <div dir="rtl" class="text-sm text-gray-600">
        אזהרת אלרגנים: המטבח שלנו מטפל במוצרים המכילים אגוזים, גלוטן, חלב, ביצים ורכיבים אלרגניים נוספים. איננו יכולים להבטיח שהמנות שלנו נקיות לחלוטין מאלרגנים, גם אם אינם מסומנים. אנא יידעו אותנו לגבי כל אלרגיה או רגישות למזון בעת ההזמנה.
      </div>
    </div>
  </h2>
</section>
