<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :units, style: "display: block" %>
    <%= form.text_field :units %>
  </div>

  <div>
    <%= form.label :price_per_unit, style: "display: block" %>
    <%= form.text_field :price_per_unit %>
  </div>

  <div>
    <%= form.label :in_bulk, style: "display: block" %>
    <%= form.check_box :in_bulk %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
