<nav class="sticky top-0 bg-white shadow-md z-50" data-controller="navbar">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex items-center flex-grow">
        <div class="flex <%= user_signed_in? ? '' : 'justify-center flex-grow' %>">
          <%= link_to (user_signed_in? ? authenticated_root_path : unauthenticated_root_path), class: "flex-shrink-0" do %>
            <%= image_tag 'sultanas-kitchen-logo.svg', alt: "Sultana's Kitchen Logo", class: "w-auto #{user_signed_in? ? 'h-10' : 'h-16'}" %>
          <% end %>
        </div>
        
        <% if user_signed_in? %>
          <div class="hidden sm:flex sm:ml-10 space-x-12">
            <% ResourceAttributes.available_resources.each do |resource| %>
              <%= link_to resource.model_name.human.pluralize,
                polymorphic_path(resource.model_name.route_key),
                class: "text-lg font-medium #{current_page?(polymorphic_path(resource.model_name.route_key)) ? 'text-indigo-600' : 'text-gray-500 hover:text-gray-900'}" %>
            <% end %>
          </div>
        <% end %>
      </div>

      <!-- Login/Logout button -->
      <div class="flex items-center">
        <% if user_signed_in? %>
          <%= link_to 'Logout', destroy_user_session_path, data: {
              turbo_method: :delete,
              turbo_confirm: "Are you sure?"
            }, class: "text-lg font-medium text-gray-500 hover:text-gray-900" %>
        <% end %>
      </div>

      <!-- Mobile menu button -->
      <div class="sm:hidden flex items-center">
        <button data-action="navbar#toggleMenu" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100">
          <span class="sr-only">Open main menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <% if user_signed_in? %>
    <!-- Mobile menu -->
    <div data-navbar-target="mobileMenu" class="hidden sm:hidden">
      <div class="pt-2 pb-3 space-y-1">
        <% ResourceAttributes.available_resources.each do |resource| %>
          <%= link_to resource.model_name.human.pluralize,
                      polymorphic_path(resource.model_name.route_key),
                      class: "block px-4 py-2 text-base font-medium #{current_page?(polymorphic_path(resource.model_name.route_key)) ? 'text-indigo-600 bg-indigo-50' : 'text-gray-500 hover:bg-gray-50 hover:text-gray-900'}" %>
        <% end %>
      </div>
    </div>
  <% end %>
</nav>
