<!DOCTYPE html>
<html>
  <head>
    <title>Sultana</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="m-0 p-0">
    <%= render "layouts/navbar" %>
    <main class="mt-[64px]">
      <div id="flash">
        <%= render "shared/flash", notice: notice, alert: alert %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
