<!DOCTYPE html>
<html>
  <head>
    <title>Sultana</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="m-0 p-0">
  <div class="min-h-screen bg-cover bg-repeat" style="background-image: url(<%= asset_path('smaller_succulent_pattern.png') %>); background-size: 300px;" role="img" aria-label="Decorative background pattern">
    <%= render "layouts/navbar" %>
    <main>
      <div id="flash">
        <%= render "shared/flash", notice: notice, alert: alert %>
      </div>
      <%= yield %>
    </main>
  </div>
  </body>
</html>
